{% extends 'institutebase.html' %}
{% block content %}
<div  class="contact" id="contact" >
    <div class="contact-head">
        <div class="container">
               <h3>Welcome</h3>	
       </div>
   </div>
   
<div class="contact-content" style="margin-left: -950px;">
<div class="container">
   <div class="col-md-6 contact-part">
         <div class="form">				
                     <form method="post">
                        {% csrf_token %}  
                        {% for d in data %}
                                                   <input type="text" class="textbox" required="" name="txtName" id="txtName" placeholder="Name" value="{{d.1}}">
                                                   
                                                   <div class="clearfix"> </div>
                                                   <div>
                                                       <textarea placeholder="Address" required="" id="txtAddress" name="txtAddress">{{d.2}}</textarea>
                                                   </div>
                                                   <div class="clearfix"> </div>
                                                   
                                                   <input type="email" class="textbox" required="" id="txtEmail" name="txtEmail" placeholder="Email" value="{{d.4}}">
                                                   
                                                   <input type="number" class="textbox" required="" id="txtNumber" name="txtNumber" placeholder="Phone number" value="{{d.3}}">
                                                   {% endfor %}
                                                   <div class="submit"> 
                       <input type="submit" id="btnSubmit" name="btnSubmit" value="Update" />
                                                   </div>
                   </form>
               </div>
            </div>	
        <div class="clear"> </div>
    </div>	
</div> 		
</div> 		
</div>
{% endblock %}