{% extends 'commonbase.html' %} {% block content %}
<div class="contact" id="contact">
    <div class="contact-head">
        <div class="container">
            <h3>Student Registration</h3>
        </div>
    </div>
    <div class="contact-content" style="margin-left: -950px">
        <div class="container">
            <div class="col-md-6 contact-part">
                <div class="form">
                    <form method="POST">
                        {% csrf_token %}
                        <input
                            type="text"
                            required=""
                            class="textbox"
                            name="txtName"
                            id="txtName"
                            pattern="[a-zA-Z ]+"
                            placeholder="Name"
                        />
                        <input
                            type="text"
                            required=""
                            class="textbox"
                            id="txtAge"
                            name="txtAge"
                            pattern="[0-9]{1,2}"
                            maxlength="2"
                            title="Please enter the age correctly..."
                            placeholder="Age"
                        />
                        <div class="gender">
                            <br>
                            <input style="color: #999999" type="radio" id="gender" name="gender" value="Male" />Male
                            <input
                                type="radio"
                                id="gender"
                                name="gender"
                                value="Female"
                            />Female
                            <input
                                type="radio"
                                id="gender"
                                name="gender"
                                value="Transgender"
                            />Transgender
                        </div>
                        <textarea
                            placeholder="Address"
                            required=""
                            id="txtAddress"
                            name="txtAddress"
                        ></textarea>
                        <input
                            type="text"
                            class="textbox"
                            required=""
                            id="txtFather"
                            pattern="[a-zA-Z ]+"
                            name="txtFather"
                            placeholder="Name of father/guardian"
                        />
                        <input
                            type="email"
                            class="textbox"
                            required=""
                            id="txtEmail"
                            name="txtEmail"
                            placeholder="Email"
                        />
                        <input
                            type="text"
                            class="textbox"
                            required=""
                            id="txtNumber"
                            pattern="[6789][0-9]{9}"
                            maxlength="10"
                            title="Please enter the phone number correctly..."
                            name="txtNumber"
                            placeholder="Phone number"
                        />
                        <input
                            type="password"
                            class="textbox"
                            required=""
                            id="txtPassword"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                            name="txtPassword"
                            placeholder="Password"
                        />
                        <div class="inst-select">
                            
                            <select id="inst" name="inst">
                                <option disabled selected >Select Institute</option>
                                {% for d in data %}
                                <option>{{d.1}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input
                            type="text"
                            class="textbox"
                            required=""
                            id="txtAdmn"
                            name="txtAdmn"
                            placeholder="Admission Number"
                        />
                        <div class="submit">
                            <input
                                type="submit"
                                id="btnSubmit"
                                name="btnSubmit"
                                value="Submit"
                            />
                        </div>
                    </form>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
{% endblock %}
